{% extends 'layout.html' %} {%block title%} Dodaj nowy post {%endblock%}
{%block content%}

<div class="row mt-5">
  {%if perms.zmienpiec.add_post %}
  <h1>Post</h1>
  <form method="POST">
    {% csrf_token %} {{form.media}} {{form.as_p}}
    <button>Dodaj</button>
  </form>
  <script>
    var elem = document.getElementById("authorInput");
    if (elem != null) {
      elem.value = "{{user.id}}";
    }
  </script>
  {%else%}
  <div class="col-12 mt-5">
    <h2 class="text-danger">Nie posiadasz odpowiednich uprawnień.</h2>
  </div>
  {%endif%}
</div>
{%endblock%}
