{%extends 'layout.html'%} {%block title%} {{post.title}} {%endblock title%}
{%block content%}

<div class="row mt-5">
  <h1>{{post.title}}</h1>
  <hr />
  <a>{{post.body|safe}}</a>
</div>


{%if not post.comments.all%}

<div class="row">
    <h3 class="text-muted">Brak komentarzy do wyświetlenia...</h3>
</div>
{%else%}

{%for comment in post.comments.all|dictsortreversed:"create_date"%}
<div class="row p-3 border my-3">
    {{comment.author}}
    {{comment.body}}
</div>

{%endfor%}

{%endif%}

{%endblock%}
