{% extends 'layout.html' %} {%block title%} Dodaj nowy post {%endblock%}
{%block content%}

<div class="jumbotron jumbotron-fluid banner banner1 h-20vh">
    <div class="container">
        <h1 class="text-light">Usuń post</h1>
    </div>
</div>

<div class="container">
  <div class="row mt-5">
    {%if perms.zmienpiec.delete_post %}
    <form method="POST">
      {% csrf_token %} 
      <h4></h4>
      <h3 class="font-weight-bold"> Czy na pewno chcesz usunąć ten post?</h3>
      <button class="btn btn-danger">Usuń</button>
    </form>
    {%else%}
    <div class="col-12 mt-5">
      <h2 class="text-danger">Nie posiadasz odpowiednich uprawnień.</h2>
    </div>
    {%endif%}
  </div>
</div>
{%endblock%}
