{% extends 'layout.html' %} {%block content%}

<div id="baner" class="jumbotron jumbotron-fluid banner banner1 h-60vh">
  <div class="container text-light">
    <h1>ZMIEŃ PIEC</h1>
    <p>Blog poświęcony piecom najwyższej jakości</p>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4">
      <h2>Witaj,</h2>
      <h3>na stronie Zmień Piec - </h3>
      <p>blogu podejmującym wielce istotny temat nowoczesnych piecy - szczególnie ważny w
        czasach rosnącego zanieczyszczenia powietrza spowodowanego spalaniem wszelkiego rodzaju paliw i
        materiałów w nieefektywny i wysokoemisyjny sposób.</p>
    </div>
    <div class="col-lg-8 container-fluid">
      {% for post in object_list%}
      <div class="row my-5 border1 py-3">
        <div class="col-sm-4 p-sm-3 p-4">
            <img class="img-fluid mx-auto d-block img-thumbnail" src="{{post.header_image.url}}">
        </div>
        <div class="col-sm-8 d-flex p-3 flex-column">
          <a href="{% url 'article' post.pk %}">
            <h2 class="text-center">{{post.title}}</h2>
          </a>
          <hr class="mx-5" />
          {{post.body|slice:":200"|safe}}...
          <div class="d-flex mt-auto justify-content-between">
            <span>{{post.create_date}} ~ {{post.author.first_name}} {{post.author.last_name}} </span>
            <div>
                <a class="text-info mr-3" href="{% url 'article' post.pk %}"
                >Czytaj całość...</a>
                {%if perms.zmienpiec.delete_post %}
                <a class="text-danger mr-3" href="{% url 'deletePost' post.pk %}"
                >Usuń</a>
                {% endif%}
            </div>
          </div>
        </div>
      </div>

      {%endfor%}
    </div>
  </div>
</div>
{%endblock%}
